{% extends 'main.html' %}

{% block content %}

<div>

    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quaerat voluptatem hic placeat cupiditate, a, odio modi totam in consequatur debitis laudantium suscipit molestiae iste sed quisquam ducimus repellendus corrupti.
    </div>
    <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim totam porro veritatis! Ipsum minus facilis reprehenderit optio voluptatum placeat repellat animi eum quod, ipsa perferendis alias natus dolore culpa quibusdam!
    </div>

</div>



{% endblock content %}